:root {
  --utfpr-yellow: #FFBE00;
  --utfpr-black: #000000;
  --utfpr-white: #ffffff;
}

/* Botão UTFPR */
.btn-utfpr {
  background-color: var(--utfpr-yellow);
  color: var(--utfpr-black);
  font-weight: 600;
  border: none;
  transition: background-color 0.3s ease;
}

.btn-utfpr:hover {
  background-color: #ffffff;
  color: var(--utfpr-black);
}

.bg-utfpr {
  background-color: #FFBE00 !important;
}

.text-utfpr {
  color: #FFBE00 !important;
}

.fixed-link {
  color: #000 !important;
}

.fixed-link:hover {
  color: #ffffff !important;
}