$primary: #ff5e5b;
$secondary: #1f1f1f;
$font-family-base: 'Poppins', sans-serif;
$border-radius: 0.75rem;

body {
  font-family: 'Poppins', sans-serif;
  background-color: $secondary;
  color: #f7f7f7;
}

.main-gradient {
  background: linear-gradient(to bottom, #7e7e8a, #2e2e2e);
  color: #f7f7f7;
  min-height: 100vh;
  padding-top: 4rem;
}

html[data-bs-theme='dark'] .navbar-nav .nav-link {
  color: white !important;
}

html[data-bs-theme='light'] .navbar-nav .nav-link {
  color: #000 !important;
}

html[data-bs-theme='light'] .nav-link.active {
  font-weight: bold;
  border-bottom: 2px solid #000;
}