  // custom.scss
    @import "../node_modules/bootstrap/scss/bootstrap.scss";

    // Variáveis Bootstrap
    $primary: #975625;
    $secondary: #55dc37;
    $success: #a72876;
    $info: #17a2b8;
    $warning: #ffc107;
    $danger: #dc3545;
    $light: #f8f9fa;
    $dark: #343a40;